.song-image
  margin: 20px 20px 0
  position: relative
  height: 180px
  width: 180px
  img
    box-shadow: 0 0 10px #999
  .song-info
    background-color: rgba(3,3,3,0.6)
    color: white
    position: absolute
    bottom: 0
    width: 180px
    line-height: 15px
    .song-name
      font-size: 14px
      font-weight: 300
      margin: 3px 0 0
      padding: 0 5px
    .song-artist
      font-size: 11px
      font-weight: 500
      padding: 0 5px 0
    .song-description
      font-size: 11px
      font-weight: 300
      padding: 0 5px 5px
      max-height: 132px
      overflow: hidden

.ratings-container
  margin: 8px 10px 2px
  padding: 0 10px
  overflow: visible
  height: 200px

.rating-container
  float: left
  width: 180px
  height: 15px
  margin: 3px 0
  position: relative
  cursor: pointer
  background: #D9D7D5
  border-radius: 0 30px 30px 0

.rating-container .rating 
  height: 15px
  width: 18px
  background: black
  border-radius: 0 30px 30px 0
  position: absolute
  bottom: 0

.rating-container .hoverer
  position: absolute
  background: #A9A7A5
  bottom: 0
  height: 100%
  width: 0
  border-radius: 0 30px 30px 0

.rating.overall, .reflection.overall
  background: #B2CCD4

.rating.vocals, .reflection.vocals
  background: #B2CCD4

.rating.songwriting, .reflection.songwriting
  background: #72C7D4

.rating.musicianship, .reflection.musicianship
  background: #65A8BA

.rating.creativity, .reflection.creativity
  background: #7E9396

.rating.production, .reflection.production
  background: #498087

.ratings-label
  float: left
  line-height: 10px
  font-size: 13px
  color: #575757
  margin: 3px 0 0
.feedback-form-bottom
  height: 200px
.feedback-form-bottom textarea
  margin: 20px 20px 10px
  width: 167px
  height: 80px
.feedback-form-bottom button
  margin: 0 20px
  width: 180px
