.song-info
  position: relative
  width: 190px
  line-height: 15px
  padding: 5px 15px
  .song-name
    font-size: 14px
    font-weight: 300
    margin: 3px 0 0
    padding: 0 5px
  .song-artist
    font-size: 11px
    font-weight: 500
    padding: 0 5px 0
  .song-description
    font-size: 11px
    font-weight: 300
    padding: 0 5px 5px
    max-height: 132px
    overflow: hidden

@media (max-width: 767px)
  .song-info
    height: 29px
    overflow: hidden
    
.ratings-container
  margin: 8px 10px 2px
  padding: 0 10px
  overflow: visible
  height: 200px

.rating-container
  float: right
  width: 180px
  height: 15px
  margin: 3px 0
  position: relative
  cursor: pointer
  background: #D9D7D5
  border-radius: 0 30px 30px 0

.rating-container .rating 
  height: 15px
  width: 90px
  background: black
  border-radius: 0 30px 30px 0
  position: absolute
  bottom: 0

.rating-container .hoverer
  position: absolute
  background: #A9A7A5
  bottom: 0
  height: 100%
  width: 0
  border-radius: 0 30px 30px 0

.rating.overall, .reflection.overall
  background: #B2CCD4

.rating.vocals, .reflection.vocals
  background: #B2CCD4

.rating.songwriting, .reflection.songwriting
  background: #72C7D4

.rating.musicianship, .reflection.musicianship
  background: #65A8BA

.rating.creativity, .reflection.creativity
  background: #7E9396

.rating.production, .reflection.production
  background: #498087

.ratings-label
  float: left
  line-height: 10px
  font-size: 13px
  color: #575757
  margin: 3px 0 0
.feedback-form-bottom
  height: 200px
  position: relative
.feedback-form-bottom textarea
  margin: 20px 20px 10px
  width: 167px
  height: 80px
.feedback-form-bottom button
  margin: 0 20px
  width: 180px
  opacity: .4
  cursor: default
.feedback-form-bottom button.can-submit
  opacity: 1
  cursor: pointer
.confirm-feedback
  display: none
  padding: 5px
  margin: 0 15px 15px
  font-size: 12px
  position: absolute
  bottom: 17px
    
@media (max-width: 767px) 
  .ratings-container
    height: auto
    margin: 5px 0
  .feedback-form-bottom
    height: 122px
  .feedback-form-bottom textarea
    margin: 5px
    height: 40px
    width: calc(100% - 23px)
    width: -webkit-calc(100% - 23px)
  .feedback-form-bottom button
    width: calc(100% - 10px)
    width: -webkit-calc(100% - 10px)
    margin: 0 5px
  .confirm-feedback
    margin: 0 5px 15px
    width: calc(100% - 20px)
    width: -webkit-calc(100% - 20px)


  
.jp-audio
  margin: 10px 0 0
  overflow: auto

.jp-controls
  float: left
  margin: 0 4px

.jp-progress
  float: left
  background: #d9d7d5
  width: calc(100% - 30px)
  width: -webkit-calc(100% - 30px)
  height: 11px
  padding: 0
  margin: 5px 0
  overflow: hidden

.jp-play-bar
  background: $sf-color1
  width: 0px
  height: 100%
  overflow: hidden
  
    
