.charts
  overflow: hidden

.pie-container
  width: 100%
  min-width: 245px
  float: left
  text-align: center
  margin-top: 20px

.chart-container
  width: 100%
  float: left

.chart-container-full
  float: left
  width: 100%

.chart-title
  font-size: 17px
  margin: 20px 0 15px
  color: black

.balance-pie
  height: 320px
  width: 280px
  margin: 20px auto

.graph
  float: left
  height: 100%
  width: 15%
  overflow: hidden
  position: relative
  border-top: 1px solid #E4E4E4

.bar
  background: $overall
  width: 20%
  margin-left: 40%
  float: left
  position: absolute
  bottom: 0

.songwriting-line .bar
  background: $songwriting

.vocals-line .bar
  background: $vocals

.musicianship-line .bar
  background: $musicianship

.creativity-line .bar
  background: $creativity

.production-line .bar
  background: $production

.bar-label
  width: 15%
  float: left
  overflow: hidden

.bar-name
  text-align: center
  font-size: 12px
  font-weight: 300

.bar-value
  text-align: center
  line-height: 15px
  font-size: 15px
  font-weight: 300
  margin: 0 0 0 5px


.rating-chart
  height: 320px
  margin: 0 auto 20px

.score-summary
  cursor: pointer
  &:hover
    .score .minibar
      background: #888

.score
  height: 54px
  float: left
  overflow: hidden
  position: relative
  width: 5px

.minibar
  background: #ccc
  width: 4px
  float: left
  position: absolute
  bottom: 0
  
.overall-bar .minibar
  background: $overall  
.vocals-bar .minibar
  background: $vocals  
.songwriting-bar .minibar
  background: $songwriting  
.musicianship-bar .minibar
  background: $musicianship  
.creativity-bar .minibar
  background: $creativity  
.production-bar .minibar
  background: $production
  
.comments
  textarea
    height: 70px
    width: 90%

.minibar-graphic
  height: 42px
  overflow: hidden
  float: left
  width: 33px
  .score
    height: 41px