<div class="jumbotron">
  <h1>Song Feedback</h1>
  <div class="lead">Unbiased feedback on your music!</div>
  <a class="btn btn-large btn-inverse" href="#/signup">Sign Up</a>
  <small> (its totally free!) </small>
</div>
<div class="container-fluid">        
  <div class="row-fluid">
    <div class="span3 subtron">
      <h2>Free Sign Up</h2>
      <p>Join the Song Feedback community of musicians and music lovers. Its completely free and only takes a couple seconds.</p>
      <p><a class="btn" href="#/signup">Sign Up</a></p>
    </div>
    <div class="span4 offset1 subtron">
      <h2>Upload Your Songs</h2>
      <p>Uploading is a piece of cake! As long as you are an active member of the Song Feedback community, there are no limits to how many songs you can upload.</p>
      <p><a class="btn" href="#/upload">Upload Your Song</a></p>
    </div>
    <div class="span3 offset1 subtron">
      <h2>Get Feedback</h2>
      <p>Get ratings based on vocals, songwriting, etc, as well as comments about what you can do to improve your song.</p>
      <p><a class="btn" href="#/songs">Browse Songs</a></p>
   </div>
  </div>
  <hr>
  <div class="footer">
    <p>&copy; Song Feedback 2013 - <a href="/terms.html">Terms of Use</a> - <a href="/privacy_policy.html">Privacy Policy</a></p>
  </div>
</div>