<div class="jumbotron">
  <h1>Song Feedback</h1>
  <div class="lead">Finally get unbiased feedback on your music!</div>
  <a class="btn btn-large btn-primary" href="#">Sign Up</a>
  <small> (its totally free!) </small>
</div>
<div class="container-fluid">        
  <div class="row-fluid">
    <div class="span4 offset1">
      <h2>Improve your craft</h2>
      <p>Find out if you truly have a great song, or if your mother has been lying to you. Song Feedback aims to give musicians constructive criticism to help smooth out the kinks and fuel the creativity needed to take your music to the next level.</p>
      <p><a class="btn" href="#/upload">Upload Your Song</a></p>
    </div>
    <div class="span4 offset2">
      <h2>Help your community</h2>
      <p>Song Feedback is a community, so you must give feedback in order to recieve feedback. You earn uploads by contributing feedback to other artists songs. </p>
      <p><a class="btn" href="#/songs">Browse Songs</a></p>
   </div>
  </div>
  <hr>
  <div class="footer">
    <p>&copy; Song Feedback 2013</p>
  </div>
</div>