<div class="row-fluid">
  {{#with SF.loginController.content}}
  <h3 class="no-bottom-margin">{{firstName}} {{lastName}}</h3>
  <p class="thin-text">{{description}}</p>
  {{/with}}
</div>
<div class="row-fluid">
{{#each song in controller.songs}}
  {{view SF.SongListItemView contentBinding='song'}}
{{/each}}
</div>