<div class="row-fluid">
  {{#with SF.loginController.content}}
  <h3 class="pull-left">{{firstName}} {{lastName}}</h3>
  <p class="pull-left my-songs-upload-button"><a class="btn" href="#/upload">Upload Song</a></p>
  {{/with}}
</div>
<div class="row-fluid">
{{#each song in controller.songs}}
  {{song-list-item song=song}}
{{/each}}
{{#unless controller.songs}}You haven't uploaded any songs of your own.{{/unless}}
</div>