<div class="ratings-container">
  {{#view SF.RatingSliderView}}
    <div class="rating vocals"></div>
    <div class="hoverer vocals"></div>
    <div class="reflection vocals"></div>
  {{/view}}
  {{#view SF.RatingSliderView}}
    <div class="rating songwriting"></div>
    <div class="hoverer songwriting"></div>
    <div class="reflection songwriting"></div>
  {{/view}}
  {{#view SF.RatingSliderView}}
    <div class="rating musicianship"></div>
    <div class="hoverer musicianship"></div>
    <div class="reflection musicianship"></div>
  {{/view}}
  {{#view SF.RatingSliderView}}
    <div class="rating creativity"></div>
    <div class="hoverer creativity"></div>
    <div class="reflection creativity"></div>
  {{/view}}
  {{#view SF.RatingSliderView}}
    <div class="rating production"></div>
    <div class="hoverer production"></div>
    <div class="reflection production"></div>
  {{/view}}
  {{#view SF.RatingSliderView}}
    <div class="rating overall"></div>
    <div class="hoverer overall"></div>
    <div class="reflection overall"></div>
  {{/view}}
</div>