<div class="row-fluid browse-header">
  <h2 class="pull-left">Browse</h2>
  <ul class="nav nav-pills browse-nav">
    <li>{{#linkTo 'songs'}}Recent{{/linkTo}}</li>
    <li>{{#linkTo 'songs.least-rated'}}Least Rated{{/linkTo}}</li>
    <li>{{#linkTo 'songs.top'}}Top{{/linkTo}}</li>
    <div class="btn-group pull-right">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        Genre
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#about">Rock/Pop</a></li>
        <li><a href="#about">Rap/Hip Hop</a></li>
        <li><a href="#about">Country</a></li>
        <li><a href="#about">Indie/Alt</a></li>
      </ul>
    </div>
  </ul>  
</div>
{{outlet}}