<div class="row-fluid browse-header">
  <h2 class="pull-left">Browse</h2>
  <ul class="nav nav-pills browse-nav">
    <li class="active"><a href="#" {{action recent}}>Recent</a></li>
    <li><a href="#" {{action leastRated}}>Least Rated</a></li>
    <li><a href="#">Top</a></li>
    <div class="btn-group pull-right">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        Genre
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#about">Rock/Pop</a></li>
        <li><a href="#about">Rap/Hip Hop</a></li>
        <li><a href="#about">Country</a></li>
        <li><a href="#about">Indie/Alt</a></li>
      </ul>
    </div>
  </ul>  
</div>
<div class="song-list">
  {{#each song in songs}}
  {{view SF.SongListItemView contentBinding='song'}}
  {{/each}}
</div>