<div class="row-fluid browse-header">
  <h2>Browse</h2>
  <ul class="nav nav-pills browse-nav">
    <li>{{#linkTo 'songs'}}Recent{{/linkTo}}</li>
    <li>{{#linkTo 'songs.least-rated'}}Least Rated{{/linkTo}}</li>
    <li>{{#linkTo 'songs.top'}}Top{{/linkTo}}</li>
  </ul>  
</div>
{{outlet}}